.header-btn-style {
    position: relative;
    border: none;
    font: 300 11px/1 $primaryFonts;
    color: $fourthColor;
    background: transparent;
}

.section {
    padding: 50px 0;
}

.section-title {
    position: relative;
    z-index: 3;
    margin-bottom: 30px;
    font: 300 36px/1 $primaryFonts;
    text-align: center;
    color: $firstColor;

    &::after {
        margin: 11px auto 0;
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        background: #eee;
    }

    &-white {
        color: $thirdColor;
    }
}

.second-section-title {
    font: 300 24px/1.25 $primaryFonts;
    color: $firstColor;

    &-white {
        color: $thirdColor;
    }

    &-black {
        color: $fifthColor;
    }

    &-blue {
        color: $secondColor;
    }
}

.section-description {
    position: relative;
    z-index: 3;
    margin-bottom: 20px;
    font: 300 18px/1.67 $primaryFonts;
    text-align: center;
    color: $firstColor;

    &-white {
        color: $thirdColor;
    }
}

.second-section-description {
    font: 300 14px/1.71 $primaryFonts;
    color: $firstColor;

    &-blue {
        line-height: 1;
        color: $secondColor;
    }
}


@media (min-width: $lg) {
    .section {
        padding: 100px 0;
    }

    .section-title {
        margin-bottom: 51px;
    }

    .section-description {
        margin-bottom: 45px;
    }
}