/*fonts*/
$primaryFonts: 'Oxygen', sans-serif;
$secondFonts: 'Lato', sans-serif;


/*color*/
$firstColor: #3b4954;
$secondColor: #02baab;
$thirdColor: #fff;
$fourthColor: #85939f;
$fifthColor: #000;
$sixthColor: #ffc600;

/*breakpoints*/
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

