/*fonts*/
$primaryFonts: 'Oxygen', sans-serif;
$secondFonts: 'Lato', sans-serif;


/*color*/
$firstColor: #3b4954;
$secondColor: #02baab;
$thirdColor: #fff;
$fourthColor: #85939f;
$fifthColor: #000;
$sixthColor: #ffc600;