.quotes-section {
    position: relative;
    background: url("../../img/quote-bg.png") no-repeat center;
    z-index: 2;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .container {
        .quotes-section-img-box {
            position: relative;
            z-index: 3;
            margin: 0 auto 50px;
            width: 44px;
            height: 36px;

            .quotes-section-img {
                width: 100%;
            }
        }

        .quotes-section-title {
            margin: 0 auto 20px;
            max-width: 615px;
            position: relative;
            text-align: center;
            z-index: 3;
        }

        .quotes-section-description {
            margin: 0 auto;
            max-width: 614px;
            position: relative;
            text-align: center;
            font: bold 14px/1 $secondFonts;
            text-transform: uppercase;
            color: $secondColor;
            z-index: 3;
        }
    }
}
