.blog-navigation {

    .blog-navigation-list {
        display: flex;
        justify-content: center;

        .blog-navigation-item {
            margin-left: 10px;
            .blog-navigation-link {

            }
        }
    }
}
