@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

/*fonts*/
/*color*/
/*breakpoints*/
.header-btn-style {
  position: relative;
  border: none;
  font: 300 11px/1 "Oxygen", sans-serif;
  color: #85939f;
  background: transparent;
}

.page-header {
  position: relative;
  z-index: -1;
  margin-top: -48px;
  padding: 215px 0 50px;
  background: url("../../img/page-header.png") center/cover;
}
.page-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.page-header .page-title {
  position: relative;
  z-index: 3;
  margin: 0 auto 20px;
  font: 300 36px/1 "Oxygen", sans-serif;
  color: #fff;
  text-align: center;
}
.page-header .blog-page-header-bottom {
  position: relative;
  z-index: 3;
  display: block;
}
.page-header .blog-page-header-bottom .page-data {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.page-header .blog-page-header-bottom .page-data .page-data-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
  font: 12px/1 "Oxygen", sans-serif;
  color: #85939f;
}
.page-header .blog-page-header-bottom .page-data .page-data-item::before {
  display: inline-block;
  margin-right: 3px;
  content: "";
  background: url("../../img/login.png") no-repeat center/cover;
  width: 14px;
  height: 13px;
}
.page-header .blog-page-header-bottom .page-nav {
  display: flex;
  justify-content: center;
}
.page-header .blog-page-header-bottom .page-nav .page-nav-item {
  margin-right: 5px;
  font: 12px/1 "Oxygen", sans-serif;
  color: #85939f;
}
.page-header .blog-page-header-bottom .page-nav .page-nav-item::after {
  display: inline-block;
  margin-left: 5px;
  content: "/";
}
.page-header .blog-page-header-bottom .page-nav .page-nav-item:nth-last-child(1)::after {
  content: none;
}

@media (min-width: 992px) {
  .page-header {
    margin-top: -76px;
  }
  .page-header .page-title {
    text-align: left;
  }
  .page-header .blog-page-header-bottom {
    display: flex;
    justify-content: space-between;
  }
  .page-header .blog-page-header-bottom .page-data {
    margin: 0;
    display: flex;
  }
}
.section {
  padding: 50px 0;
}

.section-title {
  position: relative;
  z-index: 3;
  margin-bottom: 30px;
  font: 300 36px/1 "Oxygen", sans-serif;
  text-align: center;
  color: #3b4954;
}
.section-title::after {
  margin: 11px auto 0;
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background: #eee;
}
.section-title-white {
  color: #fff;
}

.second-section-title {
  font: 300 24px/1.25 "Oxygen", sans-serif;
  color: #3b4954;
}
.second-section-title-white {
  color: #fff;
}
.second-section-title-black {
  color: #000;
}
.second-section-title-blue {
  color: #02baab;
}

.section-description {
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
  font: 300 18px/1.67 "Oxygen", sans-serif;
  text-align: center;
  color: #3b4954;
}
.section-description-white {
  color: #fff;
}

.second-section-description {
  font: 300 14px/1.71 "Oxygen", sans-serif;
  color: #3b4954;
}
.second-section-description-blue {
  line-height: 1;
  color: #02baab;
}

@media (min-width: 992px) {
  .section {
    padding: 100px 0;
  }

  .section-title {
    margin-bottom: 51px;
  }

  .section-description {
    margin-bottom: 45px;
  }
}
.welcome-section .main-header {
  position: relative;
  z-index: 1;
}
.welcome-section .main-header .main-header-top-bg {
  background: #000;
}
.welcome-section .main-header .main-header-top-bg .container .header-top {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-section .main-header .main-header-top-bg .container .header-top .search {
  display: flex;
  justify-content: space-between;
  padding: 8px 11px;
  width: 210px;
  border: 1px solid #85939f;
}
.welcome-section .main-header .main-header-top-bg .container .header-top .search .search-field {
  padding: 0;
  border: none;
  font: 12px/1 "Lato", sans-serif;
  color: #85939f;
  background: transparent;
}
.welcome-section .main-header .main-header-top-bg .container .header-top .search .search-btn {
  padding: 0;
  width: 14px;
  height: 13px;
  border: none;
  background: url("../../img/search.png") no-repeat center/cover;
}
.welcome-section .main-header .main-header-top-bg .container .header-top .login-box .login-btn::before {
  position: absolute;
  content: "";
  background: url("../../img/login.png") no-repeat center/cover;
  top: 0;
  left: -10px;
  width: 14px;
  height: 13px;
}
.welcome-section .main-header .main-header-top-bg .container .header-top .login-box .register-btn {
  margin-left: 10px;
}
.welcome-section .main-header .main-header-top-bg .container .header-top .login-box .register-btn::before {
  position: absolute;
  content: "";
  background: url("../../img/login.png") no-repeat center/cover;
  top: 0;
  left: -10px;
  width: 14px;
  height: 13px;
}
.welcome-section .main-header .header-bottom {
  background: rgba(0, 0, 0, 0.5);
}
.welcome-section .main-header .header-bottom .navbar {
  position: relative;
  padding-top: 0;
  padding-block: 0;
}
.welcome-section .main-header .header-bottom .navbar .navbar-brand {
  padding: 0;
}
.welcome-section .main-header .header-bottom .navbar .navbar-brand .logo-name {
  font-size: 0px;
}
.welcome-section .main-header .header-bottom .navbar .navbar-brand .main-logo {
  width: 130px;
  height: 48px;
}
.welcome-section .main-header .header-bottom .navbar .navbar-brand .main-logo .main-logo-img {
  width: 100%;
}
.welcome-section .main-header .header-bottom .navbar .navbar-toggler {
  background: #fff;
}
.welcome-section .main-header .header-bottom .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font: 300 12px/1 "Oxygen", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.welcome-section .main-header .header-bottom .navbar .navbar-collapse .navbar-nav .nav-item:hover {
  background: gray;
}

@media (min-width: 992px) {
  .welcome-section .header-bottom .navbar .navbar-collapse {
    flex-grow: 0;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 27px 0;
    width: 99px;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 0;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse li {
    border-top: 10px solid #ffae00;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse li + li {
    border-top: 10px solid #fc7100;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse li + li + li {
    border-top: 10px solid #e51c5e;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse li + li + li + li {
    border-top: 10px solid #ae0f8d;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse li + li + li + li + li {
    border-top: 10px solid #6d0fae;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse li + li + li + li + li + li {
    border-top: 10px solid #33227a;
  }
  .welcome-section .header-bottom .navbar .navbar-collapse li + li + li + li + li + li + li {
    border-top: 10px solid #0c8fcc;
  }
}
.hero-section {
  position: relative;
  z-index: -1;
  margin-top: -48px;
}
.hero-section .carousel .carousel-inner .carousel-item img {
  height: calc(100vh - 53px);
}
.hero-section .carousel .carousel-inner .carousel-item .carousel-caption {
  top: 50%;
  transform: translateY(-35%);
}
.hero-section .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  margin-bottom: 20px;
  font: 300 60px/1 "Oxygen", sans-serif;
  text-align: center;
  color: #02baab;
}
.hero-section .carousel .carousel-inner .carousel-item .carousel-caption p {
  margin-bottom: 100px;
  font: 300 60px/1 "Oxygen", sans-serif;
  text-align: center;
  color: #fff;
}

@media (min-width: 992px) {
  .hero-section {
    margin-top: -76px;
  }
  .hero-section .carousel .carousel-inner .carousel-item img {
    height: calc(100vh - 53px);
  }
}
.month-section .container .month-section-btn {
  display: block;
  margin: 0 auto;
}

.work-section {
  position: relative;
  background: url("../../img/work.png") no-repeat center;
  z-index: 2;
}
.work-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.work-section .work-section-navigation {
  margin: 0 auto;
  position: relative;
  width: 50px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
.work-section .work-section-navigation .work-section-navigation-btn {
  display: block;
  padding: 0;
  width: 7px;
  height: 15px;
  border: none;
  background: url("../../img/arrow.png") center/cover;
}
.work-section .work-section-navigation .work-section-navigation-btn-r {
  transform: scale(-1, 1);
}

.wordpress-section {
  padding: 50px 0;
  background: #02baab;
}
.wordpress-section .container .wordpress-section-body .wordpress-section-title {
  margin: 0 0 20px;
  text-align: center;
}
.wordpress-section .container .wordpress-section-body .wordpress-section-btn {
  display: block;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .wordpress-section .container .wordpress-section-body {
    display: flex;
    justify-content: space-between;
  }
  .wordpress-section .container .wordpress-section-body .wordpress-section-title {
    margin: 0;
    text-align: left;
  }
  .wordpress-section .container .wordpress-section-body .wordpress-section-btn {
    display: block;
    margin: 0 auto;
  }
}
.superb-section .container .superb-section-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.superb-section .container .superb-section-list .superb-section-item {
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
}
.superb-section .container .superb-section-list .superb-section-item .superb-section-img-box {
  margin-right: 20px;
  width: 40px;
}
.superb-section .container .superb-section-list .superb-section-item .superb-section-img-box .superb-section-img {
  width: 100%;
}
.superb-section .container .superb-section-list .superb-section-item .superb-section-description {
  width: 290px;
}
.superb-section .container .superb-section-list .superb-section-item .superb-section-description .superb-section-second-title {
  padding: 0 0 13px;
}
.superb-section .container .superb-section-list .superb-section-item:last-child {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .superb-section .container .superb-section-list .superb-section-item {
    width: 340px;
  }
  .superb-section .container .superb-section-list .superb-section-item .superb-section-description {
    width: 260px;
  }
  .superb-section .container .superb-section-list .superb-section-item:nth-last-child(2) {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .superb-section .container .superb-section-list .superb-section-item {
    margin: 0 auto 59px;
  }
  .superb-section .container .superb-section-list .superb-section-item .superb-section-description {
    width: 355px;
  }
  .superb-section .container .superb-section-list .superb-section-item:last-child {
    margin: 0 auto;
  }
  .superb-section .container .superb-section-list .superb-section-item:nth-last-child(2) {
    margin: 0 auto;
  }
  .superb-section .container .superb-section-list .superb-section-item:nth-last-child(3) {
    margin: 0 auto;
  }
}
.quotes-section {
  position: relative;
  background: url("../../img/quote-bg.png") no-repeat center;
  z-index: 2;
}
.quotes-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.quotes-section .container .quotes-section-img-box {
  position: relative;
  z-index: 3;
  margin: 0 auto 50px;
  width: 44px;
  height: 36px;
}
.quotes-section .container .quotes-section-img-box .quotes-section-img {
  width: 100%;
}
.quotes-section .container .quotes-section-title {
  margin: 0 auto 20px;
  max-width: 615px;
  position: relative;
  text-align: center;
  z-index: 3;
}
.quotes-section .container .quotes-section-description {
  margin: 0 auto;
  max-width: 614px;
  position: relative;
  text-align: center;
  font: bold 14px/1 "Lato", sans-serif;
  text-transform: uppercase;
  color: #02baab;
  z-index: 3;
}

.blog-section {
  padding-bottom: 0px;
}

@media (min-width: 992px) {
  .blog-section {
    padding-bottom: 50px;
  }
}
.experience-section {
  background: #02baab;
}
.experience-section .container .row .experience-section-item {
  margin-bottom: 40px;
}
.experience-section .container .row .experience-section-item .canvas {
  position: relative;
}
.experience-section .container .row .experience-section-item .canvas .experience-section-item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 60px;
  max-height: 60px;
  transform: translate(-50%, -50%);
}
.experience-section .container .row .experience-section-item .canvas .chart {
  display: block;
  margin: 0 auto 30px;
  height: 220px;
}
.experience-section .container .row .experience-section-item .canvas .chart .circle2 {
  fill: none;
  stroke-width: 10;
  stroke: #fff;
  stroke-dasharray: calc(6.6 * 80) calc(6.6 * 20);
  stroke-dashoffset: 165;
}
.experience-section .container .row .experience-section-item .canvas .chart .circle3 {
  fill: none;
  stroke-width: 10;
  stroke: #fff;
  opacity: 0.5;
}
.experience-section .container .row .experience-section-item .experience-section-item-title {
  margin-bottom: 10px;
  font: 300 48px/1 "Oxygen", sans-serif;
  text-align: center;
  color: #fff;
}
.experience-section .container .row .experience-section-item .experience-section-item-description {
  font: 300 18px/1 "Oxygen", sans-serif;
  text-align: center;
  color: #fff;
}
.experience-section .container .row .experience-section-item + li::before {
  display: block;
  margin: 0 auto 40px;
  content: "";
  width: 70px;
  height: 10px;
  background: url("../../img/ellipse.png") center/cover;
}
.experience-section .container .row .experience-section-item + li .chart .circle2 {
  stroke-dasharray: calc(6.6 * 50) calc(6.6 * 50) !important;
}
.experience-section .container .row .experience-section-item + li + li {
  margin-bottom: 0px;
}
.experience-section .container .row .experience-section-item + li + li .chart .circle2 {
  stroke-dasharray: calc(6.6 * 95) calc(6.6 * 5) !important;
}

@media (min-width: 768px) {
  .experience-section .container .row .experience-section-item {
    margin-bottom: 40px;
  }
  .experience-section .container .row .experience-section-item::before {
    content: none;
  }
  .experience-section .container .row .experience-section-item::after {
    display: flex;
    margin: 40px auto 0;
    content: "";
    width: 70px;
    height: 10px;
    background: url("../../img/ellipse.png") center/cover;
  }
  .experience-section .container .row .experience-section-item + li {
    margin-bottom: 0px;
  }
  .experience-section .container .row .experience-section-item + li::before {
    content: none;
  }
  .experience-section .container .row .experience-section-item + li + li::before {
    content: none;
  }
  .experience-section .container .row .experience-section-item + li + li::after {
    content: none;
  }
}
@media (min-width: 992px) {
  .experience-section .container .row .experience-section-item {
    position: relative;
    margin-bottom: 0;
  }
  .experience-section .container .row .experience-section-item::before {
    content: none;
  }
  .experience-section .container .row .experience-section-item::after {
    position: absolute;
    display: flex;
    top: 23%;
    left: 100%;
    transform: translate(-50%, -50%);
    content: "";
    width: 70px;
    height: 10px;
    background: url("../../img/ellipse.png") center/cover;
  }
  .experience-section .container .row .experience-section-item + li::before {
    content: none;
  }
  .experience-section .container .row .experience-section-item + li + li::before {
    content: none;
  }
  .experience-section .container .row .experience-section-item + li + li::after {
    content: none;
  }
}
.main-btn {
  padding: 15px 22px;
  font: bold 12px/1 "Oxygen", sans-serif;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
  color: #02baab;
  border: 1px solid #02baab;
  background-color: transparent;
}
.main-btn:hover {
  background-color: #02baab;
  color: #fff;
}
.main-btn-white {
  color: #fff;
  border: 1px solid #fff;
}
.main-btn-arrow::after {
  content: "";
  margin: 0 0 0 20px;
  padding: 0;
  display: inline-block;
  width: 4px;
  height: 10px;
  background: url("../../img/arrow.png") center/cover;
  transform: scale(-1, 1);
}

.productCard-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productCard-box .productCard {
  position: relative;
  margin: 0 auto 30px;
  width: 290px;
  height: 290px;
  z-index: 5;
}
.productCard-box .productCard .productCard-box-img {
  position: relative;
  width: 290px;
  height: 290px;
  margin-bottom: -70px;
  z-index: 1;
}
.productCard-box .productCard .productCard-box-img .productCard-img {
  width: 100%;
}
.productCard-box .productCard .productCard-box-inf {
  position: relative;
  z-index: 3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #3A3A3A;
}
.productCard-box .productCard .productCard-box-inf .productCard-box-inf-description .productCard-box-inf-description__name {
  margin-bottom: 5px;
  font: 300 14px/1 "Oxygen", sans-serif;
  color: #fff;
}
.productCard-box .productCard .productCard-box-inf .productCard-box-inf-description .productCard-box-inf-description__position {
  font: 300 11px/1 "Oxygen", sans-serif;
  color: #02baab;
}
.productCard-box .productCard .productCard-box-inf .productCard-box-inf-likes .productCard-box-inf-likes__img {
  margin: 0 auto 5px;
  display: block;
  width: 13px;
  height: 11px;
  border: none;
  background: url("../../img/like-logo.png") center/cover;
}
.productCard-box .productCard .productCard-box-inf .productCard-box-inf-likes .productCard-box-inf-likes__counter {
  font: 300 11px/1 "Oxygen", sans-serif;
  color: #02baab;
}
.productCard-box .productCard .productCard-box-hover {
  position: relative;
  margin-top: -290px;
  padding: 75px 0;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
}
.productCard-box .productCard .productCard-box-hover .productCard-box-hover-link {
  width: 40px;
  height: 40px;
}
.productCard-box .productCard .productCard-box-hover .productCard-box-hover-link .productCard-box-hover-img {
  width: 100%;
}
.productCard-box .productCard:hover {
  position: relative;
}
.productCard-box .productCard:hover:after {
  transition: 2s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.productCard-box .productCard:hover .productCard-box-img {
  width: 290px;
  height: 290px;
}
.productCard-box .productCard:hover .productCard-box-img .productCard-img {
  width: 100%;
}
.productCard-box .productCard:hover .productCard-box-inf {
  transition: 2s;
  height: 70px;
  margin-top: -70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.productCard-box .productCard:hover .productCard-box-inf .productCard-box-inf-description .productCard-box-inf-description__name {
  margin-bottom: 5px;
  font: 300 0px/1 "Oxygen", sans-serif;
}
.productCard-box .productCard:hover .productCard-box-inf .productCard-box-inf-description .productCard-box-inf-description__position {
  font: 300 0px/1 "Oxygen", sans-serif;
}
.productCard-box .productCard:hover .productCard-box-inf .productCard-box-inf-likes .productCard-box-inf-likes__img {
  border: none;
  background: none;
}
.productCard-box .productCard:hover .productCard-box-inf .productCard-box-inf-likes .productCard-box-inf-likes__counter {
  font: 300 0px/1 "Oxygen", sans-serif;
  color: transparent;
}
.productCard-box .productCard:hover .productCard-box-hover {
  z-index: 4;
}

.blogCard {
  margin-bottom: 50px;
  padding: 0 0 30px;
  border-bottom: 1px solid #3b4954;
}
.blogCard .blogCard-img-box {
  margin-bottom: 30px;
}
.blogCard .blogCard-img-box .blogCard-img {
  width: 100%;
}
.blogCard .blogCard-title {
  margin-bottom: 30px;
}
.blogCard .blogCard-description {
  margin-bottom: 20px;
}
.blogCard .blogCard-coment-box {
  display: flex;
  justify-content: space-between;
}
.blogCard .blogCard-coment-box .blogCard-coment-box-link {
  font: 300 14px/1 "Oxygen", sans-serif;
  color: #02baab;
}
.blogCard .blogCard-coment-box .blogCard-coment-box-coment-counter {
  display: flex;
  font: 300 14px/1 "Oxygen", sans-serif;
  color: #3b4954;
}
.blogCard .blogCard-coment-box .blogCard-coment-box-coment-counter::before {
  content: "";
  display: flex;
  margin-right: 10px;
  width: 19px;
  height: 14px;
  background: url("../../img/coment.png") center/cover;
}

.teamCard {
  margin-bottom: 30px;
  position: relative;
  border: 2px solid #eee;
  z-index: 1;
}
.teamCard .teamCard-img-box {
  position: relative;
}
.teamCard .teamCard-img-box .blogCard-img {
  width: 100%;
}
.teamCard .teamCard-img-box .teamCard-body {
  position: absolute;
  bottom: 0;
  height: calc(100% - 45%);
  width: 100%;
  background: #fff;
  z-index: 2;
}
.teamCard .teamCard-img-box .teamCard-body .teamCard-body-description {
  margin: 80px auto;
  width: 155px;
  font: 12px/2 "Oxygen", sans-serif;
  text-align: center;
  color: #3b4954;
}
.teamCard .teamCard-img-box .teamCard-person {
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
  left: 50%;
  padding: 14px;
  border: 1px solid #eee;
  background: #fff;
  z-index: 4;
}
.teamCard .teamCard-img-box .teamCard-person .teamCard-person-title {
  margin-bottom: 10px;
  text-align: center;
}
.teamCard .teamCard-img-box .teamCard-person .teamCard-person-description {
  font: 12px/1 "Oxygen", sans-serif;
  text-align: center;
  color: #c4c4c4;
}
.teamCard .teamCard-btn {
  width: 100%;
  padding: 30px 0;
  background: #fff;
  border: none;
  z-index: 3;
}
.teamCard .teamCard-btn .team-btn {
  display: block;
  margin: 0 auto;
  padding: 14px 42px;
}

.teamCard-img-box:hover .blogCard-img {
  width: 100%;
}
.teamCard-img-box:hover .teamCard-body {
  position: absolute;
  bottom: 0;
  height: calc(100% - 45%);
  width: 100%;
  background: transparent;
  z-index: 0;
}
.teamCard-img-box:hover .teamCard-body .teamCard-body-description {
  margin: 80px auto;
  width: 155px;
  font: 0px/2 "Oxygen", sans-serif;
  text-align: center;
  color: #3b4954;
}
.teamCard-img-box:hover .teamCard-person {
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
  left: 50%;
  padding: 14px;
  border: none;
  background: transparent;
  z-index: 0;
}
.teamCard-img-box:hover .teamCard-person .teamCard-person-title {
  font: 0px/1 "Oxygen", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
.teamCard-img-box:hover .teamCard-person .teamCard-person-description {
  font: 0px/1 "Oxygen", sans-serif;
  text-align: center;
  color: #c4c4c4;
}

.blog-navigation .blog-navigation-list {
  display: flex;
  justify-content: center;
}
.blog-navigation .blog-navigation-list .blog-navigation-item {
  margin-left: 10px;
}
.main-footer {
  background: #19252E;
}
.main-footer .footer-top {
  margin-bottom: 50px;
}
.main-footer .footer-top .footer-top-title {
  margin: 0 auto 50px;
  font: 300 22px/1 "Oxygen", sans-serif;
  color: #fff;
}
.main-footer .footer-top .footer-top-col1 {
  padding: 59px 15px 0;
  border-top: 15px solid #7827a9;
}
.main-footer .footer-top .footer-top-col1 .footer-top-get-body li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 19px;
}
.main-footer .footer-top .footer-top-col1 .footer-top-get-body li .footer-top-get-item_description {
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #fff;
}
.main-footer .footer-top .footer-top-col1 .footer-top-get-body li .footer-top-get-item_link {
  margin-bottom: 20px;
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #85939f;
}
.main-footer .footer-top .footer-top-col1 .footer-top-get-body li .footer-top-get-map {
  max-width: 210px;
  height: 150px;
}
.main-footer .footer-top .footer-top-col1 .footer-top-get-body li::before {
  position: absolute;
  content: "";
  background: url("../../img/flag.png") no-repeat center/cover;
  top: 5px;
  left: 0;
  width: 14px;
  height: 13px;
}
.main-footer .footer-top .footer-top-col1 .footer-top-get-body li + li::before {
  position: absolute;
  content: "";
  background: url("../../img/phone.png") no-repeat center/cover;
  top: 5px;
  left: 0;
  width: 13px;
  height: 13px;
}
.main-footer .footer-top .footer-top-col1 .footer-top-get-body li + li + li::before {
  position: absolute;
  content: "";
  background: url("../../img/mail.png") no-repeat center/cover;
  top: 7px;
  left: 0;
  width: 12px;
  height: 9px;
}
.main-footer .footer-top .footer-top-col1 .footer-top-get-body li + li + li + li::before {
  content: none;
}
.main-footer .footer-top .footer-top-col2 {
  padding: 59px 15px 0;
  border-top: 15px solid #0c8fcc;
}
.main-footer .footer-top .footer-top-col2 .footer-top-tweets-body li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 19px;
}
.main-footer .footer-top .footer-top-col2 .footer-top-tweets-body li .footer-top-tweets-item_description {
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #fff;
}
.main-footer .footer-top .footer-top-col2 .footer-top-tweets-body li .footer-top-tweets-item_tag {
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #02baab;
}
.main-footer .footer-top .footer-top-col2 .footer-top-tweets-body li::before {
  position: absolute;
  content: "";
  background: url("../../img/tw.png") no-repeat center/cover;
  top: 5px;
  left: 0;
  width: 14px;
  height: 13px;
}
.main-footer .footer-top .footer-top-col2 .footer-top-tweets-body li::after {
  content: "- about 12 min ago";
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #85939f;
}
.main-footer .footer-top .footer-top-col2 .footer-top-tweets-body li + li::after {
  content: "- about 47 days ago";
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #85939f;
}
.main-footer .footer-top .footer-top-col2 .footer-top-tweets-body li + li + li::after {
  content: "- about 12 min ago";
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #85939f;
}
.main-footer .footer-top .footer-top-col3 {
  padding: 59px 15px 0;
  border-top: 15px solid #de1c5c;
}
.main-footer .footer-top .footer-top-col3 .footer-top-follow-body .footer-top-follow-item .footer-top-follow-link {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.main-footer .footer-top .footer-top-col3 .footer-top-follow-body .footer-top-follow-item .footer-top-follow-link .footer-top-follow-link_img {
  width: 50px;
  height: 50px;
}
.main-footer .footer-top .footer-top-col3 .footer-top-follow-body .footer-top-follow-item .footer-top-follow-link .footer-top-follow-link_img img {
  width: 100%;
}
.main-footer .footer-top .footer-top-col3 .footer-top-follow-body .footer-top-follow-item .footer-top-follow-link .footer-top-follow-link_description {
  margin-left: 20px;
  font: 300 12px/1 "Oxygen", sans-serif;
  color: #fff;
}
.main-footer .footer-top .footer-top-col4 {
  padding: 59px 15px 0;
  border-top: 15px solid #ffae00;
}
.main-footer .footer-top .footer-top-col4 .footer-top-posts-body .footer-top-posts-item .footer-top-posts-item_description {
  margin: 0 0 10px;
  font: 300 12px/1 "Oxygen", sans-serif;
  color: #fff;
}
.main-footer .footer-top .footer-top-col4 .footer-top-posts-body .footer-top-posts-item .footer-top-posts-item_tag {
  margin: 0 0 20px;
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #02baab;
}
.main-footer .footer-bottom {
  display: flex;
  justify-content: space-between;
}
.main-footer .footer-bottom .footer-bottom-description {
  max-width: 150px;
  font: 300 12px/2 "Oxygen", sans-serif;
  color: #fff;
}
.main-footer .footer-bottom .footer-bottom-btn {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
